{% extends 'layout.twig' %}


{% block content %}

    <h1>YOYOYO</h1>

    {% for data in ranges %}
        <ul>
            <li>{{ data.id }}</li>
            <li>{{ data.price }}</li>
            <li>{{ data.start_date }}</li>
            <li>{{ data.end_date }}</li>
        </ul>
    {% endfor %}
{% endblock %}
