<html>
<head>
    <title>Hello world</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bulma.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        {% block css %}
        {% endblock %}

    <style>
        article {
            min-height: 55%;
        }

        form {
            padding: 1.5rem;
        }

        .modal-content {
            background: white;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% block js %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>